<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %5p %c{1}: %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="ActiveFileName" value="${log.dir}/squirrels.log" />
            <param name="FileNamePattern" value="${log.dir}/squirrels.%d{yyyy-MM}.gz" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %5p %c{1}: %m%n" />
        </layout>
    </appender>

    <logger name="edu.csula.squirrels">
        <level value="${log.level}" />
    </logger>

    <logger name="org.hibernate.cache">
        <level value="error" />
    </logger>

    <root>
        <level value="warn" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>
