<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config />

    <tx:annotation-driven />
    
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <property name="initialSize" value="1" />
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="squirrels" />
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDetailsService">
            <security:password-encoder ref="passwordEncoder" />
        </security:authentication-provider>
    </security:authentication-manager>

    <security:http use-expressions="true">
        <security:form-login login-page="/"
            authentication-success-handler-ref="authenticationSuccessHandler"
            authentication-failure-handler-ref="authenticationFailureHandler" />
        <security:logout success-handler-ref="logoutRedirectHandler" />
        <security:remember-me data-source-ref="dataSource" />
        <security:intercept-url pattern="/service/user/register"
            access="permitAll" />
        <security:intercept-url pattern="/mobileservice/siting/submit"
            access="permitAll" /> 
        <!-- <security:intercept-url pattern="/siting/**"
            access="authenticated" /> -->
        <security:intercept-url pattern="/siting/submit/**" access="authenticated" /> 
        <security:intercept-url pattern="/myprofile" access="authenticated" />
        <security:intercept-url pattern="/changepassword" access="authenticated" />
        <security:intercept-url pattern="/siting/unverified/**" access="hasAnyRole('APPROVER', 'ADMIN')" />  
        <security:intercept-url pattern="/siting/verified/**" access="hasAnyRole('APPROVER', 'ADMIN')" />  
        <security:intercept-url pattern="/siting/verified/**" access="hasAnyRole('APPROVER', 'ADMIN')" />  
        <security:intercept-url pattern="/siting/exportSightings/**" access="hasAnyRole('APPROVER', 'ADMIN')" /> 
        <security:intercept-url pattern="/user/**" access="hasAnyRole('APPROVER', 'ADMIN')" /> 
    </security:http>

    <bean id="objectMapper" class="org.codehaus.jackson.map.ObjectMapper" />
    
    <util:properties id="applicationProperties" location="classpath:application.properties" />
    
    <context:component-scan base-package="edu.csula.squirrels">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!-- <global-method-security pre-post-annotations="enabled" /> -->

</beans>
